.errorContainer {
  width: 60%;
  height: 2rem;
  background: #fdf2f5;
  position: fixed;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; 

  & .errorCopy {
    // text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace; 
    color: #d70022; 
  }
}
