header {
    border: 3px solid black; 
    width: 100%; 
} 

h1 {
    font-size: $font-size-xxl; 
    font-family: $font-secondary; 
    // text-transform: uppercase;
    width: 100%; 
} 

form {
    border: 3px solid red; 
} 

label {
    border: 3px solid lime; 
} 

input {
    border: 3px solid blue; 
} 

img {
    width: 100%;
}

.galleryCard {
    list-style-type: none;
    border: 3px solid yellow; 
} 

footer {
    background-color: $color-black; 
    color: $color-white; 
    font-size: $font-size-xs;
    width: 100%; 
    position: fixed;  
    bottom: 0px; 

} 

a {
    text-decoration: none;
    transition: all .2s;
} 

a:link,
a:visited {
    color: $color-white; 
} 

a:hover,
a:focus {
    color: $color-blue; 
    border-bottom: 1px solid $color-blue; 
}
