$color-primary-0: #AAA439;
$color-secondary-1-0: #29526D;
$color-secondary-2-0: #AA3939;

$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Bitter', serif;

$space-huge: 8rem;
$space-xl: 6rem;
$space-lrg: 4rem;
$space-med: 2rem;
$space-sml: 1rem;
$space-xs: 0.5rem;