$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Bitter', serif;

$color-primary: #fff7d6;
$color-secondary: #29526D;
$color-tertiary: #AA3939;

$color-white: #ffffff;
$color-black: #000000;
$color-hover: #0000ff; 

$font-size-xxl: 5.653rem;
$font-size-xl: 3.998rem;
$font-size-lrg: 2.827rem;
$font-size-med: 1.99rem;
$font-size-sml: 1.414rem;
$font-size-xs: 1rem;
$font-size-xxs: 0.5rem;

$space-huge: 8rem;
$space-xl: 6rem;
$space-lrg: 4rem;
$space-med: 2rem;
$space-sml: 1rem;
$space-xs: 0.5rem;
$space-xxs: 0.3rem;